.App {
  text-align: center;
  padding: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.TitleBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid blue;
}
.Gallow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid green;
}
.WordGuess {
    display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid purple;
}
.Keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid red;
}
.keyboard-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px 0 5px 0;
}
.keyboard-letter {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0px 3px 0 3px;
}
.keyboard-letter:hover {
  background-color: orange;
  color: white;
}
